<h1>{{ company?.name }}</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="callout callout-warning">
      <small class="text-muted">First visit</small>
      <br>
      <strong class="h4">{{ company?.firstVisit ? (company.firstVisit | date) : 'N/A' }}</strong>
      <div class="chart-wrapper">
        <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
      </div>
    </div>
  </div>

<!--  <div class="col-sm-4">
    <div class="callout callout-success">
      <small class="text-muted">Last visit</small>
      <br>
      <strong class="h4">21/04/2019</strong>
      <div class="chart-wrapper">
        <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
      </div>
    </div>
  </div>-->
  <div class="col-sm-4">
      <div class="callout callout-danger">
        <small class="text-muted">Published offers</small>
        <br>
        <strong class="h4">{{ jobsPage?.totalElements }}</strong>
        <div class="chart-wrapper">
          <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col">
    <table class="table my-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">First visit</th>
          <th scope="col">Last visit</th>
          <th scope="col">Platform</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let j of jobsPage?.content">
          <th scope="row">{{ j.name }}</th>
          <td>{{ j.firstVisit ? (j.firstVisit | date) : 'N/A' }}</td>
          <td>{{ j.lastVisit ? (j.lastVisit | date) : 'N/A' }}</td>
          <td>{{ j.platform }}</td>
          <td><button type="button" class="btn btn-primary btn-sm" [routerLink]="['/job/', j.id]">See</button></td>
        </tr>
        <tr *ngIf="!jobsPage || (jobsPage.content.length === 0)">
          <td colspan="5" class="text-center"><small>No jobs tracked.</small></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngIf="!jobsPage?.first">
          <a class="page-link" (click)="loadData(jobsPage?.number - 1);$event.preventDefault();" href="" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngIf="jobsPage?.number > 0"><a class="page-link" (click)="loadData(jobsPage?.number - 1);$event.preventDefault();" href="">{{ jobsPage?.number }}</a></li>
        <li class="page-item active"><a class="page-link" role="button">{{ (jobsPage?.number + 1 ) }}</a></li>
        <li class="page-item" *ngIf="!jobsPage?.last"><a class="page-link" (click)="loadData(jobsPage?.number + 1);$event.preventDefault();" href="">{{ jobsPage?.number + 2 }}</a></li>
        <li class="page-item" *ngIf="!jobsPage?.last">
          <a class="page-link" (click)="loadData(jobsPage?.number + 1);$event.preventDefault();" href="" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
