<h1>Job offers</h1>

<div class="row">
  <div class="col">
    <table class="table my-3">
      <thead class="thead-dark text-center">
        <tr>
          <th rowspan="2" scope="col" class="align-middle">Name</th>
          <th rowspan="2" scope="col" class="align-middle">First visit</th>
          <th rowspan="2" scope="col" class="align-middle">Last visit</th>
          <th rowspan="2" scope="col" class="align-middle">Platform</th>
          <th colspan="2" scope="col" class="align-middle">Company</th>
          <th rowspan="2" scope="col" class="align-middle">Actions</th>
        </tr>
        <tr>
          <th scope="col" class="align-middle">Name</th>
          <th scope="col" class="align-middle">First visit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of [1,2,3,4,5,6,7]">
          <th scope="row">Software Engineer</th>
          <td>21/01/2019</td>
          <td>21/03/2019</td>
          <td>Glassdoor</td>
          <td>Apple</td>
          <td>21/01/2019</td>
          <td>See</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card bg-transparent">
      <div class="card-body pb-3">
        <div class="text-value text-center">Jobs per platform</div>
      </div>
      <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'pie'"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="true">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <div class="card-body pb-3">
        <div class="text-value text-center">Jobs lifetime</div>
      </div>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="true" [chartType]="'bar'">
        </canvas>
      </div>
    </div>
  </div>
</div>
