<h1>Job {{ jobID }}</h1>

<div class="row">
  <div class="col-sm-3">
    <div class="callout callout-warning">
      <small class="text-muted">First visit</small>
      <br>
      <strong class="h4">{{ job?.firstVisit ? (job.firstVisit | date) : 'N/A' }}</strong>
      <div class="chart-wrapper">
        <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="callout callout-success">
      <small class="text-muted">Last visit</small>
      <br>
      <strong class="h4">{{ job?.lastVisit ? (job.lastVisit | date) : 'N/A' }}</strong>
      <div class="chart-wrapper">
        <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="callout callout-danger">
      <small class="text-muted">Platform</small>
      <br>
      <strong class="h4">--</strong>
      <div class="chart-wrapper">
        <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="callout callout-primary">
      <small class="text-muted">Company</small>
      <br>
      <strong class="h4">
          <a href="#" class="stretched-link" [routerLink]="['/company/1233']">--</a>
      </strong>
      <div class="chart-wrapper">
        <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="callout callout-dark">
      <small class="text-muted">Description</small>
      <br>
      <strong class="h4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore assumenda exercitationem impedit!
        Necessitatibus rerum maxime adipisci deleniti, corrupti ullam voluptatem atque similique debitis mollitia dicta
        tenetur, amet numquam? Incidunt, tempora!
      </strong>
      <div class="chart-wrapper">
        <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover my-3">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col" class="align-middle">Requirements</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of job?.requirements">
          <td>{{ r }}</td>
        </tr>
        <tr *ngIf="!job || (job.requirements.length === 0)">
          <td class="text-center"><small>No requirements.</small></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table table-hover my-3">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col" class="align-middle">Responsibilities</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of job?.responsibilities">
          <td>{{ r }}</td>
        </tr>
        <tr *ngIf="!job || (job.responsibilities.length === 0)">
          <td class="text-center"><small>No responsibilities.</small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
